body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stabler elementene vertikalt */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-loginandregister {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px; 
    position: relative; 
}

.form-container, .availability-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(50% - 20px); 
    margin: 10px; /* Gir litt plass mellom seksjonene */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    max-width: 1000px; 
    margin: auto; 
    padding: 20px; 
}




/* KNAPPER */
.btn, input[type="submit"] {
    padding: 10px 20px;
    background-color: #475ac2;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.btn:hover, input[type="submit"]:hover {
    background-color: #2d40af;
}
/* KNAPPER */




/* LOGIN OG REGISTRERING */
.form-loginandregister h2, .form-container h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 50px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-link {
    margin-top: 50px;
}
/* LOGIN OG REGISTRERING */




/* PROFILE VIEW */
.checkbox-dropdown {
    width: 70%; /* Justerer ønsket bredde, eller behold den på 100 % for full bredde */
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    user-select: none;
    margin-top: 20px; /* Mellomrom over dropdown-menyen */
    cursor: pointer; /* Får den til å se klikkbar ut */
    background: #fff; /* Bakrunn for dropdown knappen */
}

/* CSS pil til høyre for dropdown knappen */
.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

/* Reverserer CSS pilen nå dropdown-menyen er aktiv */
.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    border: inherit;
    border-top: none;
    left: -1px;
    right: -1px;
    opacity: 0;
    background: #fff;
    transition: opacity 0.4s ease-in-out;
    max-height: 200px; /* Sett maks-høyde i stedet for høyde for bedre kontroll */
    overflow: auto; /* Gjør at man kan skrolle */
    pointer-events: none;
    z-index: 10; /* Sikrer at den er over andre elementer */
}
.is-active .checkbox-dropdown-list {
    opacity: 5; /* vis droppdown-menyen */
    pointer-events: auto; /* Sikrer at brukeren fortsatt kan krysse av boksene*/
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
    background: #fff; 
    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}

textarea {
    resize: none; /* Forhindrer endring av størrelse */
    max-height: 150px;
    width: 100%; /* Sørger for at textarea fyller bredden til sin container */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-booking-form {
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.update-booking-form h2 {
    margin-top: 50;
}

.close-button {
    float: right;
    padding: 5px 10px;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    margin: -50px -50px 50px;
}

.close-button:hover {
    background: #666;
}
/* PROFILE VIEW SLUTT */




/* TILGJENGELIGHETSSEKSJON OG BOOKING FANER */
.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
}

.tab-link {
    cursor: pointer;
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.current {
    display: block; /* Viser gjeldende fane */
}

.time-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.time-inputs label,
.time-inputs input {
    margin-right: 10px; 
}
/* TILGJENGELIGHETSSEKSJON OG BOOKING FANER */




/* LEDIGE TIDSSLUKER */
.time-slots-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px; 
}

.time-slot-button {
    background-color: #5c6bc0;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-slot-button:hover {
    background-color: #3f51b5;
}

/* LEDIGE TIDSSLUKER */




/* SUKSESS OG ERROR MELDINGER*/
.error-messages {
    color: red;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center; /* Sentrer teksten */
    width: 100%;
    max-width: 400px; /* Samme bredde som form-container for å linje opp */
}

.success-messages {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ddffdd;
    border: 1px solid #00b300;
    color: #006600;
}
/* SUKSESS OG ERROR MELDINGER*/



/* Stil for navigasjonsmenyen */
.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
/* CSS for å plassere lenkene horisontalt */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Lenker til venstre */
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
  }
  
  .navbar a:hover {
    background-color: #f1f1f1;
  }
  